# exclude .gitignore and similar from the generated tarball
.git*               export-ignore
AUTHORS.rst         export-ignore
CHANGES.rst         export-ignore
LICENSE             export-ignore
screenshots         export-ignore
scripts             export-ignore
selenium_drivers    export-ignore
install.sh          export-ignore
install_scripts     export-ignore
